.box {
    min-height: 500px;
    padding: 25px;
    margin: 5px;
    font-weight: 450;
    color: whitesmoke;
    box-sizing: border-box;
  }
  
  .navbar {
    background: whitesmoke;
  }
  
  h2   {color: rgb(14, 111, 122);font-weight: bold;}

  .yellow {
    background: lightblue;
    min-height: 300px;
    padding: 25px;
    margin: 5px;
    font-weight: 450;
    color: whitesmoke;
    box-sizing: border-box;
  }

  .green {
    background: lightblue;
  }
  
  .comp {
    min-height: 300px;
    color: rgb(14, 111, 122);font-style: oblique;font-weight: bold;
    background: lightblue;  
    
  }

 .navbar-brand {
     font-size: x-large;
     font-weight: 200;
     background-color: rgb(14, 111, 122);
    
 }

 figure  {color: rgb(14, 111, 122);font-size: x-small; text-align: center}


 hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
